@if (isLoading) {
<spinner [spinnerColorBootstrap]="spinnerColor"></spinner>
} @else {
<div class="table-responsive">
    <table class="table table-light table-bordered border-warning table-hover table-striped">
        <caption hidden>This Table will list the available roles</caption>
        <thead class="table-info">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Role Name</th>
                <th scope="col" colspan="2">Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @for (role of roleList; track $index) {
            <tr>
                <th scope="row">{{ role.id }}</th>
                <td>{{ role.roleName }}</td>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#editRole" (click)="openModal(role)">Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger btn-sm">Remove</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}

<!--Modal-->
<form [formGroup]="roleformGroup">
    <div class="modal fade" id="editRole" tabindex="-1" role="dialog" aria-labelledby="modalCenteredTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Role</h5>
                    <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Role Name</span>
                        </div>
                        <input type="text" class="form-control" formControlName="roleName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    @if (shouldCreateNewRole) {
                        <button type="button" class="btn btn-outline-success" value="add-create role">Create User</button>
                    } @else {
                        <button type="button" class="btn btn-outline-warning" formControlName="roleName" (click)="updateRole(role.id)">Modify User</button>
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@if (showToaster) {
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Message</strong>
            <button type="button" class="close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>
}