.create-role {
    margin: 15px;

    &:hover {
        font-weight: 600;
        -moz-box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.5) inset;
        -webkit-box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.5) inset;
        box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.5) inset;
    }
}