@import 'ngx-toastr/toastr';

$box-shadow-color: #00000080;

.table td {
    text-align: center;

    &:hover {
        -moz-box-shadow: 0 4px 2px -3px $box-shadow-color inset;
        -webkit-box-shadow: 0 4px 2px -3px $box-shadow-color inset;
        box-shadow: 0 4px 2px -3px $box-shadow-color(0, 0, 0, 0.5) inset;
    }
}

.table th {

    &:hover {
        -moz-box-shadow: 0 4px 2px -3px $box-shadow-color(0, 0, 0, 0.5) inset;
        -webkit-box-shadow: 0 4px 2px -3px $box-shadow-color(0, 0, 0, 0.5) inset;
        box-shadow: 0 4px 2px -3px $box-shadow-color(0, 0, 0, 0.5) inset;
    }
}

.row__data {
    color: grey;

    &-unmask--color {
        color: mediumpurple;
    }

    &:hover {
        color: cornflowerblue;
        font-weight: 600;
        cursor: pointer;
    }
}

.invalid_input {
    border: 1px solid red;

    &--text-decor {
        color: red;
        padding-left: 2px;
    }
}

.data-removal-warning {
    font-weight: 600;
    color: red;
}